<app-header></app-header>
<!-- <app-sniper ></app-sniper> -->
<head>
	<style>
		/* creaing style for zooming image */
		/* Quick-zoom Container */
		.quick-img-zoom img {
			transform-origin: 0 0;
			transition: transform .15s, visibility .15s ease-in;
		}

		/* The Transformation */
		.quick-img-zoom:hover img {
			transform: scale(5);
		}
	</style>
</head>

<br />
<br />



<body>
	<div class="container-wrapper">
		<div class="container">
			<section>
				<div class="jumbotron">
					<div class="container">
						<h1>Cart</h1>
						<p>All the selected products in your shopping cart</p>
					</div>
				</div>
				<mat-progress-spinner mode="indeterminate" *ngIf="showSnipper"
					style="position:inherit;float:initial;margin-left: 50%;"></mat-progress-spinner>
			</section>
			<section class="container" ng-app="cartApp">
				<div>
					<div>
						<button [disabled]="!hasUserCartItems" routerLink="/user/address"
							class="btn btn-success pull-right"> <span class="glyphicon glyphicon-shopping-cart">
							</span> Check out
						</button>
					</div>
					<br /> <br /> <br />
					<table class="table table-hover">
						<tr>
							<th>Product Id</th>
							<th>Image</th>
							<th>Product</th>
							<th>Unit Price</th>
							<th>Quantity</th>
							<th>Total Price</th>
							<th>Category</th>
							<th>Description</th>
							<th>Action</th>
						</tr>
						<tr *ngFor="let cartArr of cartArray">
							<td>{{cartArr.product_id}}</td>
							<td>
								<div class="col-md-5 quick-img-zoom">
									<img [src]=getSantizeUrl(cartArr.product_image) alt="no image"
										style="width: 50px; height: 50px" />
								</div>
							</td>

							<td>{{cartArr.product_name}}</td>
							<td>{{cartArr.product_price | currency}}</td>
							<td>
								<div class="container-wrapper">
									<button type="button" class="btn btn-outline-info"
										(click)="decrementQuantity(cartArr.product_id)">-</button>
										{{cartArr.quantity}}
									<button type="button" class="btn btn-outline-info"
										(click)="incrementQuantity(cartArr.product_id)">+</button>
									
									
								</div>
							</td>
							<td>{{cartArr.total_price}}</td>
							<td>{{cartArr.product_category}}</td>
							<td>{{cartArr.product_description}}</td>
							<td><button (click)="removeItem(cartArr.product_id)" class="btn btn-danger btn-sm">remove
								</button></td>

						</tr>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th>Grand Total</th>
							<th>{{grandTotal}}</th>
							<th></th>
						</tr>
					</table>

					<a routerLink="/productslist" class="btn btn-secondary"> Continue Shopping</a>
				</div>
			</section>
		</div>
	</div>
</body>
<br />
<br />